bkp/*.md
bin/AnyCPU/Debug/*.mez
bin/AnyCPU/Debug/main.mez
bin/AnyCPU/Debug/test38.mez
.vscode/settings.json
.vscode/launch.json
test38.pq
main.pq
resources.resx
main.proj
bkp_main.md
main16.png
main20.png
main24.png
main32.png
main40.png
main48.png
main64.png
main80.png
*.mez
mmain.pq
mmain16.png
mmain20.png
mmain24.png
mmain32.png
mmain40.png
mmain48.png
mmain64.png
mmain80.png
mresources.resx
