bin/AnyCPU/Debug/main.mez
bin/AnyCPU/Debug/test38.mez
.vscode/settings.json
.vscode/launch.json
test38.pq
main.pq
resources.resx
main.proj
bkp_main.md
main16.png
main20.png
main24.png
main32.png
main40.png
main48.png
main64.png
main80.png
